body {
  font-family: "PT Sans Narrow", sans-serif;
}

.c-scroll-snap {
  max-height: 100vh;
  overflow-y: scroll;
}
.c-scroll-snap--y-proximity {
  scroll-snap-type: y proximity;
  scroll-snap-points-y: repeat(100vh);
}
.c-scroll-snap--y-mandatory {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}
.c-scroll-snap > * {
  height: 100vh;
  scroll-snap-align: start;
}

.sections {
  counter-reset: section;
}
.sections:after {
  display: block;
  content: " / " counter(section);
  position: absolute;
  top: 50%;
  right: 10px;
  color: white;
}

section {
  color: white;
  counter-increment: section;
  position: relative;
}
section:before {
  content: counter(section);
  position: absolute;
  top: 50%;
  right: 30px;
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5vw;
  letter-spacing: 2px;
  transform: translate(-50%, -50%);
}